.carousel {
  padding-top: 2rem;
  padding-bottom: 1rem;
  .el-carousel__item{
    border-radius: 5%;
  }
  .el-carousel__item h3 {
    color: #1e89e0;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.75;
    line-height: 200px;
    text-align: center;
  }

  .el-carousel__item:nth-child(2n) {
    background:url("../../../../images/footer.jpg") #99a9bf;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
}