.homeContent {
  padding-top: 2rem;
  width: 1180px;
  margin: 0 auto;
  .carousel {
    padding-top: 2rem;
    .ant-carousel .slick-slide {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #8a988e;
      overflow: hidden;
    }

    .ant-carousel .slick-slide h3 {
      color: #fff;
    }
  }
  .marketCard {
    margin: 0 auto;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    flex-wrap: wrap;
  }
  .myOrder{
    position: fixed;
    top:80%;
    right: 1.3rem;
  }
}